<h1>О проекте</h1>
<p>Это учебный проект. Состоит из, собственно, сайта, сделанного на RubyOnRails и парсера данных, написанного на ruby.</p>
<p>Парсер данных тырит с biz.kr.ua по десятку предприятий в каждом из разделов. В учебных, разумеется, целях. Парсер многопоточный, использует <a href='http://nokogiri.org/'>nokogiri</a> для разбора страницы и <a href='http://www.rubygeocoder.com/'>geocoder</a> для определения координат по адресу.</p>
<p>Добавлять разделы и предприятия можно и вручную. Для этого нужно авторизоваться через Фейсбук или Твиттер (используется <a href='https://github.com/intridea/omniauth'>omniauth</a>).</p>
<p><u>Ссылку на исходники на гитхабе</u></p>

<h3>Known issues:</h3>
<ol>
  <li>Поиск регистрозависимый. Потому что <a href="http://www.sqlite.org/faq.html#q18">вот</a>.
  <li>При просмотре страницы предприятия каждый раз дергается Google Maps Image API, что нехорошо из-за лимита в 1000 уникальных картинок в день. Картинки надо бы хранить у себя.
  <li>Парсер данных хоть и работает в несколько потоков, смысла это не имеет, пока в качестве СУБД используется SQLite. В каждый момент времени писать может только один поток. Кроме того, для каждого предприятия, имеющего адрес, делается попытка получить у Гугла координаты. Это приводит к переполнению лимита на обращения к гугловскому АПИ. 
</ol>