<h1>Вход</h1>
<p>
Воспользовавшись одной из кнопочек ниже, вы сможете добавлять новые предприятия Кировограда. И даже любую фигню можно добавить &mdash; модерации-то нет.
</p>
<p>
<%= link_to image_tag("/images/social-icons/twitter-logo-square-webtreatsetc.png", :alt => "twitter logo", :width => 128, :height => 128), "/auth/twitter" %>
<%= link_to image_tag("/images/social-icons/facebook-logo-square-webtreatsetc.png", :alt => "facebook logo", :width => 128, :height => 128), "/auth/facebook" %>
</p>
