<h1>Контакты</h1>
<p>Меня зовут Александр Кононенко.</p>
<p>Можно написать мне на <a href='mailto:alexanderkononenko@gmail.com'>alexanderkononenko@gmail.com</a> или в cкайп: <a href="skype:alexander.kononenko?chat">alexander.kononenko</a>.</p>
